<form action="/plan" method="POST">
  <div class="row">
    <div class="col-xs-12">
      <h2>Incomes</h2>
      <p>Provide your <strong>after tax</strong> earnings.</p>
      <div id="incomes-form"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Savings</h2>
      <p>Let me know what savings you have.</p>
      <div id="savings-form"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Debts</h2>
      <p>Let me know what debts you have.</p>
      <div id="debts-form"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Expenses</h2>
      <p>What expenses do you have?</p>
      <div id="expenses-form"></div>
    </div>
  </div>
  <input type="submit" value="Give me a plan!"></input>
</form>